body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

fieldset {
  display: flex;
  margin: 50px 0;
  padding: 30px;
  border: 1px solid #ccc;
}
legend {
  padding: 0px 10px;
  padding: 0px 10px;
  font-family: "Oswald";
  font-weight: 500;
  color: var(--purple);
}
label {
  font-family: "Oswald";
  font-weight: 200;
  color: var(--bright-pink);
}

input:focus {
  /* the outline property selects the default blue border that shows up on inputs. giving it a value of 0 gets rid of it */
  outline: 0;
  border: 1px solid var(--purple);
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: var(--purple);
  box-shadow: 2px 2px var(--bright-blue);
  font-family: "Oswald";
  font-size: 1.3em;
  color: whitesmoke;
  border: 0px;
  transition: 0.2s ease-in-out;
}
input[type="submit"]:hover {
  cursor: pointer;
  background: var(--bright-blue);
  box-shadow: 2px 2px var(--purple);
}
