body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* articles */
.article-container {
  width: 80vw;
  padding-top: 30px;
}

/* new article */
.new-article-container-inner {
  margin: 20px 0 0 70px;
}
.new-article-container-inner form fieldset {
  display: flex;
  flex-direction: column;
  width: 30%;
}
