<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")%>

<div class="article-container">
  <div class="article-container">
    <div class="article-inner">
      <div class="article-item" >
        <% for(let i=0;i<articles.length;i++){ %>
        <h2><%= articles[i].title %></h2>
        <p><%= articles[i].content.substring(0,300) %></p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <%}%>
    </div>
  </div>
</div>
