<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")%>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Technology Media.</h1>
    <p>
      This is a website where you can find numbers of texhnology related
      articles. You can simply customize your topics and see what it comes!
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/articles" role="button"
        >See Articles! &raquo;</a
      >
    </p>
  </div>
</div>

  <hr />
</div>
<!-- /container -->
