<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")%>
<div class="new-article-container">
  <div class="new-article-container-inner">
    <form action="">
      <fieldset class="article">
        <legend>Article Information</legend>
        <!-- title -->
        <label for="title"></label>
        <input type="text" name="title" id="title" />
        <!-- content -->
        <label for="content"></label>
        <input type="text" name="content" id="content" />
        <input type="submit" value="Submit" />
      </fieldset>
    </form>
  </div>
</div>
